* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 12px;
  max-height: 50px;
  background-color: lightblue;
  border-radius: 24px;
  box-shadow: 2px 4px 6px -3px;
}

header {
  font-size: 96px;
}
#main {
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list-box {
  box-shadow: 2px 4px 6px -3px;

  border-radius: 40px;
  padding: 40px;
  width: fit-content;
  background-color: lightpink;
}

#input-box {
  align-items: end;
  gap: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
#input-box input {
  box-shadow: 2px 4px 6px -3px;

  color: white;
  padding: 12px;
  height: 30px;
  background-color: darkblue;
  border-radius: 12px;
}
input::placeholder {
  color: white;
}
#desc {
  overflow: visible;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

#values {
  margin-top: 12px;
  max-width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  height: fit-content;

  display: flex;
  flex-direction: column;
}
.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 24px;
}
